.darkBackground {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(49, 16, 76);
}
.pageCenter {
    display: block;
    text-align: center;
    
}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    max-width: 60%;
    width: 100%;
    background: #fff;
    padding: 2.5em 2.5em 4em;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}
.label {
    margin: 10px;
    padding: 10px;
}
#formBtn {
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
}
.contactText {
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    display: inline-flex;
    border-left: 5px solid rgb(165, 0, 165);
    justify-content: center;
    color: #fff;
}
#query {
    height: 100px;
    resize: none;
}

.formError {
    color: red;
    text-align: left;
    margin-top: 10px;
}