@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    background-color: #fffffff5;
} */

.bg_color_light {
    background-color: #fffffff5;
}

.text_color_light {
    color: slategray;
}