body {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.hero_img {
    height: 80vh;
    width: 80vh;

}

.hero_class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    color: rgb(228, 208, 228);
    font-size: 1.5vw;
}